@use "../../styles/breakpoints.scss" as *;

.pokemon {
  margin-top: var(--spacing-xxl);
  max-width: var(--size-content);
  margin-inline: auto;
  width: var(--size-full);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-md);
  
  @include screen-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include screen-md {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @include screen-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @include screen-xl {
    grid-template-columns: repeat(5, 1fr);
  }
}