*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer reset {
  * {
    padding: 0;
  }

  *:not(dialog) {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    text-wrap: balance;
    font: inherit;
  }

  ul,
  li {
    list-style: none;
  }

  ul,
  ol,
  menu {
    line-height: 0;
  }

  button {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
  }

  button > * {
    pointer-events: none;
    touch-action: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:focus,
  button:focus {
    outline-color: transparent;
  }

  img,
  svg,
  video,
  picture,
  canvas {
    display: block;
    max-width: 100%;
  }

  svg {
    overflow: visible;
  }

  img {
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
    border-bottom: 3px solid hsl(0deg 0% 25%);
  }

  th[scope="col"] {
    text-align: right;
    border-right: 3px solid hsl(0deg 0% 25%);
    border-bottom: none;
    padding-right: 8px;
  }

  tr:not(:last-of-type) th[scope="col"],
  tr:not(:last-of-type) td {
    border-bottom: 1px solid hsl(0deg 0% 50%);
  }
}
