@use "../../styles/breakpoints.scss" as *;

.header,
.header__nav,
.header__nav-start {
  display: flex;
  align-items: center;
}

.header {
  width: var(--size-full);
  height: 5rem; // 80px
  padding-inline: var(--spacing-md);
  justify-content: center;
  background: var(--clr-white);
  // option: 2px 2px 12px hsla(0,0%,44%,.25)
  box-shadow: 2px 2px 12px var(--clr-shadow); 
}

.header__nav {
  justify-content: space-between;
  max-width: var(--size-content);
  width: 100%;
  column-gap: var(--spacing-sm);
}

.header__nav-start {
  column-gap: var(--spacing-xs);
}

.header__nav-badge,
.header__nav-link--desktop {
  display: none;
}

.header__nav-badge {
  @include screen-sm {
    display: inline-block;
  }
}

.header__nav-link {
  transition: color 750ms cubic-bezier(.4, 0, .2, 1);

  &:hover {
    color: var(--clr-red);
  }
}

.header__nav-link--desktop {
  align-items: center;
  column-gap: var(--spacing-xs);
  font: var(--text-semi-base);

  @include screen-sm {
    display: flex;
  }
}

.header__nav-link--mobile {
  display: block;

  @include screen-sm {
    display: none;
  }
}