@use "./styles/reset.scss";

/* lato-300 */
@font-face {
  font-display: swap; 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v25-latin-300.woff2') format('woff2'),
       url('../fonts/lato-v25-latin-300.ttf') format('truetype');
}

/* lato-regular */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v25-latin-regular.ttf') format('truetype');
}

/* lato-700 */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'),
       url('../fonts/lato-v25-latin-700.ttf') format('truetype');
}

/* lato-900 */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'),
       url('../fonts/lato-v25-latin-900.ttf') format('truetype');
}

:root {
  --clr-blue: hsl(209, 84%, 59%);
  --clr-red: hsl(7, 100%, 63%);
  --clr-pink: hsl(6, 100%, 92%);
  --clr-yellow: hsl(50, 100%, 63%);
  --clr-black: hsl(0, 0%, 16%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 44%);
  --clr-background: hsl(0, 0%, 93%);
  --clr-shadow: hsl(0, 0%, 84%);
  --clr-ground: hsl(44, 59%, 66%);
  --clr-rock:	hsl(36, 89%, 22%);
  --clr-grass: hsl(148, 34%, 69%, .65);
  --clr-fire:	hsl(29, 99%, 66%, .65);
  --clr-water: hsl(202, 56%, 66%, .65);
  --clr-electric: hsl(50, 100%, 63%);
  --clr-flying:	hsl(251, 100%, 84%, .75);
  --clr-dragon: hsl(252, 96%, 63%);
  --clr-psychic: hsl(290, 25%, 61%, .65);
  --clr-ghost: hsl(234, 25%, 52%);
  --clr-poison:	hsl(295, 40%, 52%);
  --clr-steel:hsl(222, 32%, 92%);
  --clr-normal:	hsl(50, 22%, 64%, .65);
  --clr-ice:hsl(181, 38%, 75%);
  --clr-fighting: hsl(6, 57%, 44%);
  --clr-fairy: hsl(347, 54%, 75%, .75);
  --clr-bug: hsl(79, 80%, 42%, .65);
  --clr-dark:	hsl(228, 9%, 22%);
  --text-light-xs: 300 .8rem/120% "Lato", system-ui, serif;
  --text-light-sm: 300 .875rem/120% "Lato", system-ui, serif;
  --text-light-base: 300 1rem/120% "Lato", system-ui, serif;
  --text-light-md: 300 1.5rem/120% "Lato", system-ui, serif;
  --text-base-xs: 400 .8rem/120% "Lato", system-ui, serif;
  --text-base-sm: 400 .875rem/120% "Lato", system-ui, serif;
  --text-base: 400 1rem/120% "Lato", system-ui, serif;
  --text-base-md: 400 1.5rem/120% "Lato", system-ui, serif;
  --text-semi-xs: 700 .8rem/120% "Lato", system-ui, serif;
  --text-semi-sm: 700 .875rem/120% "Lato", system-ui, serif;
  --text-semi-base: 700 1rem/120% "Lato", system-ui, serif;
  --text-semi-md: 700 1.5rem/120% "Lato", system-ui, serif;
  --text-semi-lg: 700 2rem/120% "Lato", system-ui, serif;
  --text-bold-xs: 900 .8rem/120% "Lato", system-ui, serif;
  --text-bold-sm: 900 .875rem/120% "Lato", system-ui, serif;
  --text-bold-base: 900 1rem/120% "Lato", system-ui, serif;
  --text-bold-md: 900 1.5rem/120% "Lato", system-ui, serif;
  --text-bold-lg: 900 2rem/120% "Lato", system-ui, serif;
  --text-display: 700 2.5rem/120% "Lato", system-ui, serif;
  --size-full: 100%;
  --size-screen: 100svh;
  --size-content: 90rem; // 1440px
  --size-auto: auto;
  --spacing-inline-center: 0 auto;
  --spacing-xxs: .25rem; // 4px
  --spacing-xs: .5rem; // 8px
  --spacing-sm: .75rem; // 12px
  --spacing-base: 1rem; // 16px
  --spacing-md: 1.5rem; // 24px
  --spacing-lg: 2rem; // 32px
  --spacing-xl: 3rem; // 48px
  --spacing-xxl: 4rem; // 64px
  --spacing-section: 8rem; // 128px
}

body {
  color: var(--clr-black);
  background: var(--clr-background);
  font: var(--text-base);
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--clr-red);
  outline-offset: 2px;
}